@import "libs/_loading.scss";
@import "libs/_header.scss";
@import "libs/_mainpage.scss";
@import "libs/_menu.scss";
@import "libs/_footer.scss";

body {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: #333;
}
